<h1>Hello From the Show Template For A Board!</h1>

   <div class="title"> <%= board.get("title") %></div>

    <ul>
      <% lists.each(function(list){ %>
        <% console.log(list.attributes["title"]) %>
        <!-- <li>< list.escape("title") ></li> -->
        <li>
          <%= list.escape("title") %>
          <%= list.escape("ord") %>
        </li>

      <% }) %>

   </ul>



<style>
  .title {
  padding: 20px;
  border: 10px;
  margin: 10px;
  display: block;
  height: 20px;
  }
</style>