<h1> Make a New List for your board! </h1>

<label><input type="text" name="list[title]"> Title </label>
<label><input type="text" name="list[ord]"> Ord </label>
<button> Create List </button>

<%= current_board_id %>